@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/teko-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/teko-latin-700.woff2') format('woff2');
}
