@mixin setFontSans ($_weight: 400) {
  font: {
    family: 'Open Sans', sans-serif;
    style: normal;
    weight: $_weight;
  }
}

@mixin setFontTeko ($_weight: 400) {
  font: {
    family: 'Teko', sans-serif;
    style: normal;
    weight: $_weight;
  }
}